{erl_opts, [debug_info,
            {d, {'GS_MOCK', gs_log}}
           ]}.
{deps, []}.

{relx, [{release, {elevators, "1.0"},
         [{elevators, "1.0"},
          sasl]},

        {release, {elevators, "2.0"},
         [{elevators, "1.1"},
          sasl]},

        {extended_start_script, true},
        {generate_start_script, true},

        {overlay, [
                   {mkdir, "log/sasl"}
                  ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}

]}.
