{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {elevators, "1"},
         [{elevators, "1.0"},
          sasl]},

        {mode, dev},

        {extended_start_script, true},
        {generate_start_script, true},

        {overlay, [
                   {mkdir, "log/sasl"}
                  ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}

]}.
